@import url('../../node_modules/@glidejs/glide/dist/css/glide.core.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('./_typography.css');

  /* Normalize CSS */
  body {
    font-family: 'Graphik', serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Graphik Bold', serif;
  }

  h1 {
    @apply tracking-wide md:text-5xl text-3xl;
  }

  h2 {
    @apply tracking-wide md:text-4xl text-2xl;
  }

  h3 {
    @apply tracking-wide md:text-2xl text-xl;
  }

  h4 {
    @apply tracking-wide md:text-xl text-lg;
  }

  h5 {
    @apply font-graphik tracking-wide md:text-lg text-lg;
  }

  h6 {
    @apply font-graphikBold tracking-wide md:text-base text-sm;
  }

  p {
    font-family: 'Graphik', serif;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .react-datepicker-wrapper .react-datepicker__input-container input {
    height: 100%;
    outline: none;
    padding-left: 3rem;
  }

  .react-datepicker-wrapper .react-datepicker__input-container {
    height: 100%;
  }

  .container-secondary {
    width: 100%;
  }

  .mw-sub-page {
    max-width: 65ch;
  }

  .truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@layer components {
  /* Buttons */
  .btn {
    @apply text-xl uppercase transition-all duration-200 font-barlowCondensed tracking-wider;
  }

  .btn-primary {
    @apply py-3 px-4 xl:py-4 xl:px-11 bg-yellow text-black hover:bg-yellow-dark;
  }

  .btn-secondary {
    @apply py-3 px-4 xl:py-4 xl:px-11 bg-orange text-white hover:bg-yellow-700;
  }

  .car-lg-w {
    width: 45%;
  }
}

@layer utilities {
  .default-transition {
    @apply transition-all duration-200;
  }

  .active-link {
    @apply border-b-4 border-yellow;
  }

  .area-link img {
  }

  .area-link span {
  }

  .active-area-link {
  }

  .active-link-secondary {
    @apply border-b-4 border-orange text-orange;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .absolute-y-center {
    @apply absolute top-1/2 transform -translate-y-1/2;
  }

  .absolute-x-center {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }

  .h-subpage-hero {
    height: 32rem;
  }

  .h-home-hero {
    height: 42rem;
  }

  .w-92 {
    width: 92%;
  }

  .h-92 {
    height: 92%;
  }

  .h-perk-card {
    height: 21.5rem;
  }

  .error {
    position: absolute;
    left: 0;
    color: #ff3f54;
    font-size: 0.85rem;
  }

  .br-frame {
    border-width: 0.24rem;
    border-style: solid;
  }

  .bg-white-light {
    background: rgba(255, 255, 255, 0.2);
  }

  @media (max-width: 1024px) {
    .h-perk-card {
      height: 23rem;
    }
  }
}

@media (min-width: 640px) {
  .polygon-right {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  }

  .polygon-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
  }

  .call-card-icon {
    @apply absolute top-1/2 transform -translate-y-1/2;
    left: 32%;
  }

  .call-card-left-section-margin {
    margin-left: -12.25%;
  }
}

@media (max-width: 640px) {
  .container-secondary {
    max-width: calc(640px + ((100% - 640px) / 2));
  }

  .call-card-icon {
    @apply absolute left-1/2 transform -translate-x-1/2;
    top: 37%;
  }
}

@media (max-width: 768px) {
  .container-secondary {
    max-width: calc(768px + ((100% - 768px) / 2));
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }

  .container-secondary {
    max-width: calc(1280px + ((100% - 1280px) / 2));
  }

  .h-contact-frame {
    height: 88%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .container-secondary {
    max-width: calc(1024px + ((100% - 1024px) / 2));
  }

  .h-contact-frame {
    height: 100%;
  }
}

/* Date Pciker reset */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
}
